{% extends "base2.html" %}
{% load static %}
{% block content %}

                  <div class="mt-7">
                    <h4 class="font-weight-bolder">Sign up</h4>
                    <p class="mb-0">Enter your email and password</p>
                  </div>
                  <div class="card-body"><form method="post" role="form">

                      {% csrf_token %}

                      {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                            {% for key, value in form.errors.items %}
                              <strong>{{ value }}</strong>
                            {% endfor %}
                          </div>
                          {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {% endcomment %}
                        </div>
                      {% endif %}

                      <div class="input-group input-group-outline mb-2">
                        {{ form.first_name }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.last_name }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.email }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.FIN }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.number }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.department.label }} &nbsp;:&nbsp;
                        {{ form.department }}
                      </div>
                      <div class="input-group input-group-outline mb-2">
                        {{ form.status.label }} &nbsp;:&nbsp;
                        {{ form.status }}
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                      </div>
                    </form>
                    
                  </div>
                  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-2 text-sm mx-auto">
                      <p>Already have an account? <a href="#" class="text-primary text-gradient font-weight-bold">Sign in</a></p>
                      
                    </p>
                  </div>

{% endblock %}