{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Task Detail</h6>
              </div>
              {% include "messages.html" %}
            </div>
            <div class="card-body px-0 pb-2">

              <div class="row">
                <div class="row">

                  <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">Task Information</h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                            <div class="avatar me-3">
                              <img src="{% if editTask.task_author.image %}{{ editTask.task_author.image.url }}{% else %}#{% endif %}" alt="{{ editTask.task_author.first_name }} {{ editTask.task_author.last_name }}" width="50px" height="50px" style="object-fit: cover;" class="border-radius-lg shadow">
                            </div>
                            <div class="d-flex align-items-start flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{ editTask.task_author.first_name|capfirst }} {{ editTask.task_author.last_name|capfirst }}</h6>
                              <p class="mb-0 text-xs">{{ editTask.task_author.department.title|capfirst }} / {{ editTask.task_author.status|capfirst }}</p>
                              <p class="mb-0 text-xs"><i>{{ editTask.task_author.email }}</i></p>
                            </div>
                          </li>
                          <li class="list-group-item border-0 ps-0 text-sm font-weight-bolder"><strong class="text-dark">Task Title:</strong>
                            &nbsp; {{ editTask.task_title|capfirst }}</li>
                          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Status:</strong>
                            &nbsp;
                            <span class="{% if editTask.task_status == 'Working' %}text-info{% elif editTask.task_status == 'Canceled' %}text-danger{% elif editTask.task_status == 'Done' %}text-success{% endif %}">
                              {{ editTask.task_status|capfirst }}
                            </span>
                          </li>
                          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Importance Status:</strong>
                            &nbsp;
                            <span class="{% if editTask.task_importance_level == 'Medium' %}text-info{% elif editTask.task_importance_level == 'High' %}text-danger{% elif editTask.task_importance_level == 'Low' %}text-success{% endif %}">
                              {{ editTask.task_importance_level|capfirst }}
                            </span>
                          </li>
                          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Send date:</strong>
                            &nbsp; {{ editTask.created_at|date:"M j, Y, H:i" }}</li>
                          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Deadline:</strong>
                            &nbsp; {{ editTask.task_deadline|date:"M j, Y, H:i" }}</li>
                          <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Task Category:</strong>
                            &nbsp; {{ editTask.task_category.category_title|capfirst }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-xl-8">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3">
                        <div class="row">
                          <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Task Content</h6>
                          </div>
                          <div class="col-md-4 text-end">
                            <a href="{% url 'task_forward' editTask.pk %}" class="d-flex justify-content-end align-items-center">Forward
                              <i class="material-icons opacity-10" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Forward">forward</i>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-3">
                        <p class="text-sm">
                          {{ editTask.task_content|safe }}
                        </p>
                        <hr class="horizontal gray-light my-4">
                        {% if editTask.task_image %}
                          <img src="{{ editTask.task_image.url }}" width="750px" height="400px" style="object-fit: contain;" alt="">
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">To Members</h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for action in to_members_actions %}
                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                              <div class="avatar me-3">
                                <img src="{% if action.to_member.image %}{{ action.to_member.image.url }}{% else %}{% static 'img/kal-visuals-square.jpg' %}{% endif %}" alt="{{ action.to_member.get_full_name|capfirst }}" width="50px" height="50px" style="object-fit: cover;" class="border-radius-lg shadow">
                              </div>
                              <div class="d-flex align-items-start flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ action.to_member.get_full_name|capfirst }}.</h6>
                                <p class="mb-0 text-xs">
                                  {% if action.to_member.department.title %}{{ action.to_member.department.title|capfirst }} / {% endif %}{% if action.to_member.status %}{{ action.to_member.status|capfirst }}{% endif %}
                                </p>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">CC Members</h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for action in cc_members_actions %}
                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                              <div class="avatar me-3">
                                <img src="{% if action.cc_member.image %}{{ action.cc_member.image.url }}{% else %}{% static 'img/kal-visuals-square.jpg' %}{% endif %}" alt="{{ action.cc_member.get_full_name|capfirst }}" width="50px" height="50px" style="object-fit: cover;" class="border-radius-lg shadow">
                              </div>
                              <div class="d-flex align-items-start flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ action.cc_member.get_full_name|capfirst }}.</h6>
                                <p class="mb-0 text-xs">
                                  {% if action.cc_member.department.title %}{{ action.cc_member.department.title|capfirst }} / {% endif %}{% if action.cc_member.status %}{{ action.cc_member.status|capfirst }}{% endif %}
                                </p>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-xl-4">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">Action Logs</h6>
                      </div>
                      <div class="card-body p-3">
                        <ul class="list-group">
                          {% for log in logs %}

                            <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                              <div class="avatar me-3">
                                <img src="{% if log.log_author.image %}{{ log.log_author.image.url }}{% endif %}" alt="{{ log.log_author.get_full_name|capfirst }}" width="50px" height="50px" style="object-fit: cover;" class="border-radius-lg shadow">
                              </div>
                              <div class="d-flex align-items-start flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ log.log_author.get_full_name|capfirst }}</h6>
                                <p class="mb-0 text-xs">change status from <strong>{% if log.old_status %}{{ log.old_status }}{% else %}-----{% endif %}</strong> to <strong>{% if log.new_status %}{{ log.new_status }}{% else %}-----{% endif %}</strong>.</p>
                                <p class="mb-0 text-xs">{{ log.created_at|date:"j M, Y, H:i" }}</p>
                              </div>
                            </li>

                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

{% comment %} ***************************************************************************** {% endcomment %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.media }}

                {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                      {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                      {% endfor %}
                    </div>
                    {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {% endcomment %}
                  </div>
                {% endif %}

                <div class="row">

                  <div class="col-md-4 mx-5">
                    <!-- Task Status -->
                    <div class="input-group input-group-outline mb-3 mt-3 focused is-focused">
                      <label for="{{ form.task_status.id_for_label }}" class="form-label">Task Status</label>
                      {{ form.task_status }}
                    </div>
                  </div>
                </div>

                <div class=" mx-5">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary">Save Task</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_to_member, #id_cc_member, #id_task_category').select2();
    });
</script>
{% endblock %}
