{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{% if account_user.image %}{{ account_user.image.url }}{% else %}{% static '' %}img/bruce-mars.jpg{% endif %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                {{ account_user.first_name|capfirst }} {{ account_user.last_name|capfirst }}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                {% if account_user.department.title %}{{ account_user.department.title|capfirst }}{% endif %} / {% if account_user.status %}{{ account_user.status|capfirst }}{% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-12 col-xl-8">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">Profile Edit</h6>
                      {% include "messages.html" %}
                    </div>
                    <div class="col-md-4 text-end">
                      <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                    </div>
                  </div>
                </div>
                
                <div class="card-body p-3">
                  <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <form method="post" class="w-100" style="display: flex; flex-direction: column;" enctype="multipart/form-data">

                      {% csrf_token %}

                      {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                            {% for key, value in form.errors.items %}
                              <strong>{{ value }}</strong>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}

                      <div class="input-group input-group-outline mb-2 mt-2 focused is-focused">
                        <label class="form-label">Phone Number</label>
                        {{ form.number }}
                      </div>
                      <div class="input-group input-group-outline mb-2 mt-2 {% if form.bio.value %}focused is-focused{% endif %} ">
                        <label class="form-label">Biography</label>
                        {% if form.bio.value %}
                          {{ form.bio }}
                        {% else %}
                          <input type="textarea" id="id_bio" name='bio' rows="15" class="form-control" />
                        {% endif %}
                        
                      </div>

                      <div class="input-group input-group-outline mb-2 mt-2 w-60">
                        {{ form.image }}
                      </div>

                      <div class="col-lg-3 col-sm-6 col-4">
                        <button class="btn bg-gradient-success w-100 mb-0" type="submit">Edit Profile</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-4">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                      <h6 class="mb-0">Profile İnformation</h6>
                    </div>
                  </div>
                </div>
                <div class="card-body p-3">
                  <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">FIN:</strong> &nbsp; {{ account_user.FIN }}</li>
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; {{ account_user.first_name|capfirst }} {{ account_user.last_name|capfirst }}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Department:</strong> &nbsp; {% if account_user.department.title %}{{ account_user.department.title|capfirst }}{% endif %}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Position:</strong> &nbsp; {% if account_user.status %}{{ account_user.status|capfirst }}{% endif %}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ account_user.email }}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Birthday:</strong> &nbsp; {% if account_user.birthday %}{{ account_user.birthday }} ({{ account_user.calculate_age }}){% endif %}</li>
                    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; {{ account_user.number }}</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}